{% extends "_layout" %}

{% block content %}
	<div class="row mt-4">
		<div class="col col-lg-6">
			<h1>{{ entry.title }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col col-lg-6">
			<p>Thank you for the email, we will check it as soon as possible and get back to you!</p>
		</div>
	</div>
{% endblock %}
